<ul class="card_list" data-list_id="<%= list.id %>">

  <li class="placeholder">
    No Cards
  </li>

  <% cards.each(function (card) { %>
    <li
      class="card_entry"
      data-id="<%= card.id %>"
      data-list_id="<%= card.escape('list_id') %>"
    >
      <span
        class="card_entry"
        data-id="<%= card.id %>"
        data-list_id="<%= card.escape('list_id') %>"
      >
    		<%= card.escape('title') %>
      </span>
  		<button class="deleteCard  hidden" data-id="<%= card.id %>">X</button>
    </li>
  <% }); %>
</ul>
<div class="add_button">
<button class="addCard btn">Add a Card</button>
</div>