<div class="cardDetail">
  <span class="cardProp" data-id="title">
    <h3><%= card.escape('title') %></h3>
  </span>
    <ul>
    <span class="cardProp" data-id="description">
      <li>
      <%= card.escape('description') || "No description" %>
      </li>
    </span>
    <span data-id="todo_items">
      <li>
        Todo Items
        <ul class="todo_list">
          <% todoItems.each(function (item) { %>
            <li class="item_entry">
              <label for="item_<%= item.id %>" class="todo_label">
              
                <%= item.escape('title') %>
              
                <input
                  id="item_<%= item.id %>"
                  type="checkbox"
                  data-id="<%= item.id %>"
                  <% if (item.get('done')) { %>
                    checked
                  <% } %>
                >
              
              </label>
              <span class="deleteTodo icon-trash hidden" data-id="<%= item.id %>" ></span>
            </li>
          <% }) %>
          <li>
            <button class="newTodo">New Todo</button>
          </li>
        </ul>
      </li>
    </span>
    <span data-id="users">
      <li>
        Assigned Users
        <ul class="user_list">
          <% users.each(function (user) { %>
            <li>
              <%= user.get('email') %>
              <button class="removeUser" data-id="<%= user.id %>">X</button>
            </li>
          <% }) %>
          <li>
            <button class="newUser">Assign a User</button>
          </li>
        </ul>
      </li>
    </span>
    </ul>
    <br>
  <button class="closeCard">X</a>
</div>