<div class="row">
  <div class="span4">
    <h1><%= board.escape('title') %></h1>
  </div>
</div>  

<div class="white_area span12">
  <div class="flexwidth" id="list_index">
    <ul class="list_list">
    <% lists.each(function (list) { %>
      <li class="list_entry" data-id="<%= list.id %>" id="list_<%= list.id %>">
        <span class="list_entry" data-id="<%= list.id %>">
          <%= list.escape('title') %>
        </span>
      </li>
    <% }) %>
    </ul>
  </div>
</div>

<button class="newList">New List</button>


<div class="row-fluid">
  <div class="span12"
    <div class="add_button">
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12"
    <div class="board_members">
    <h3>Board Members</h3>
    <ul class="member_list">
    <% members.each(function (member) { %>
      <li class="member_entry" data-id="<%= member.id %>" id="member_<%= member.id %>">
        <span class="member_entry" data-id="<%= member.id %>">
          <%= member.get('email') %>
        </span>
      </li>
    <% }) %>
      <li>
      <button class="newMember">Add a Member</button>
      </li>
    </ul>
    </div>
  </div>
<div>

<div class="row-fluid">
<div class="span1 offset11">
  <button><a href="#delete" role="button" data-toggle="modal">Delete this Board</a></button>
</div>
</div>

<div id="delete" class="modal hide fade" aria-labelledby="modallabel" aria-hidden="true">
  <div class="modal-header">    
    <h3 id="modallabel">Delete this board?</h3>
  </div>

<div class="row">
  <div class="span6 offset3 modal-body">
    <button class="btn btn-danger deleteBoard" data-dismiss="modal" aria-hidden="true">
      yes
    </button>
  </div>
</div>

  <div class="modal-footer">
    <button data-dismiss="modal" aria-hidden="true">cancel</button>
  </div>
</div>